     <!-- FIRST, to LEFT -->
     <div class="carousel-wrapper-l">
        <div class="carousel-container-l">
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>

          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
        </div>
      </div>

<div class="center">
      <img src="/static/svg/world-map.svg" class="world-map" >
    </div>
    
     <!-- SECOND, to RIGHT -->
     <div class="carousel-wrapper" style="margin-bottom: -130px;">
      <div class="carousel-container">  
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>

          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #A97C50">Turkana</span></p>
          <img src="/static/svg/turkana-spanish.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"> <span style="color: #63B190"> {{template "t-web-spanish.html" .}} </span></p>
          <img src="/static/svg/spanish-english.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #00A3D2"> {{template "t-web-english.html" .}} </span></p>
          <img src="/static/svg/english-french.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #FF8F00"> {{template "t-web-french.html" .}} </span></p>
          <img src="/static/svg/french-german.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #CF1F26"> {{template "t-web-german.html" .}} </span></p>
          <img src="/static/svg/german-swahili.svg" style="padding: 13px !important;" class="circle-languages"/>
          <p class="language-text"><span style="color: #ED037C"> {{template "t-web-swahili.html" .}} </span></p>
          <img src="/static/svg/swahili-turkana.svg" style="padding: 13px !important;" class="circle-languages"/>
      </div>
    </div>