<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Accion complete</title>
  {{template "imports.html"}}
</head>

<body>
  <div class="margin-body-log-in-worker">
      <div class="row">
        <div class="col-8 offset-2 center">
          <img src="/static/svg/Problem.svg" style="max-width: 250px;" class="image-rounded ">
        </div>
      </div>        <br>
      <div class="row">
          <div class="col-8 offset-2">
        <p style="color: #E20000; text-align: center; font-size: 27px; font-family: nunito">{{template "t-wrong-password.html" .}}!</p>
        <a href="/log-in">
          <button type="submit" class="btn btn--green">{{template "t-try-again.html" .}}!</button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>