<!doctype html>
<html class="no-js" lang="">
<head>
    {{if .edit }}
    <title>Edit {{.serType.Name}}</title>
    {{else}}
    <title>New Service Discipline</title>
    {{end}}
 {{template "imports.html"}}
</head>
<body onload="afterLoad()">
    {{template "nav-data.html" . }}
    <div class="margin-body-form">
      {{template "information-start.html" .}}
      {{template "i-service-type-form.html" .}}
      {{template "information-end.html" .}}
        <div class="col-12">
            {{if not .edit }}
          <header class="title">
            {{template "t-create-service-type.html" .}}
          </header></div> <br>
          {{else }}
          <header class="title">
              {{if eq "english" .GLOBAL.language }}
              Edit {{.serType.Name}} and Upload it to DataBase 
           {{else if eq "swahili" .GLOBAL.language}}
           Hariri {{. .serType.Name}} na Uipakia kwa DataBase
           {{else if eq "french" .GLOBAL.language }}
           Éditez {{.serType.Name}} et chargez-le dans la base de données
             {{else if eq "german" .GLOBAL.language }}
             Bearbeiten Sie {{.serType.Name}} und laden Sie es in die Datenbank hoch
             {{else if eq "spanish" .GLOBAL.language }}
            Edita {{.serType.Name}} y actualízalo en la Base de Datos
             {{end}}

          </header></div> <br>
          {{end}}
          <form onsubmit="return validateForm()" name="myForm" role="form" method="post" enctype="multipart/form-data"> 
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input name="name" id="name" onchange="this.value = capitalizeFirstLetter(this.value)" type="text" required="required"/>
                  <label for="input" class="control-label">  {{template "t-name.html" .}}</label><i class="bar"></i>
                </div>                </div>
              <div class="col">

            {{template "upload-img.html" .}}
              
         </div>
            </div>
            <div class="row">
            <div class="col-12">
              <label class="checkbox path">
                <div class="text-checkbox-long">
               <input type="checkbox" name="allowfree" id="allowfree"> 
               <svg style="margin-left: 0px; width: auto" viewBox="0 0 21 21">
                   <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
               </svg> 
             </div>
               Mark this Checkbox if you want to <br> allow Purchases to Workers without <br> a previous Worker order
           </label>
         </div>
        </div>
            
        <div class="row" >
            <div class="col-12">
              {{if not .edit }}
              <button type="submit" class="btn btn--green btn--animated">
                      {{template "t-create.html" .}}
              </button>
              {{else}}
              <button type="submit" class="btn btn--green btn--animated">
                {{template "t-update.html" .}}
              </button>
              {{end}}
              <div onclick="goBack();" class="btn btn--red btn--animated">
                  
                  {{template "t-cancel.html" .}}
          </div>
      </div>
      </form>

          </form>                     
        </div>
<script type="text/javascript">
  function afterLoad(){
    highlightON();
    {{if .edit }}
      fillData();
    {{end}}
  }
  
  //Highlight the icon Settings in the navigation Bar
  function highlightON(){
    villagesON()
  }

  //Removes the highligh from the navigation bar
  function highlightOFF(){
    villagesOFF()
  }

  {{if .edit }}
    function fillData(){
        var name = document.getElementById("name");
        name.value = {{.serType.Name}};
      }
      {{end}}
        </script>
      </body>
      </html>